parsing-jdom-xml/src/main/resources/DossierCoc.xsd

<?xml version="1.0" encoding="UTF-8"?>



<xs:schema targetNamespace="http://xml.inetpsa.com/CarterBO/DossierCoc" 
	xmlns="http://xml.inetpsa.com/CarterBO/DossierCoc" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:xdb="http://xmlns.oracle.com/xdb" 
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<!--=============================================================================-->
	<!--Definition des types elementaires-->
	<!--=============================================================================-->
	<xs:complexType name="IdtVcDonneeTechniqueType" xdb:SQLType="IDTVC_T">
		<xs:attribute name="idtVc" xdb:SQLName="IDT_VC" xdb:SQLType="INTEGER">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9999" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
   <!--V2 2017 Modification pour l'ajout des zones WLTP -->
    <xs:simpleType name="DefautValeurDonneeTechniqueType">
        <xs:union memberTypes="xs:string xs:float xs:integer xs:date">
            <xs:annotation>
                <xs:documentation>Utilisation pour les zones WLTP</xs:documentation>
            </xs:annotation>
        </xs:union>
    </xs:simpleType>
    <!--Fin de Modification pour l'ajout des zones WLTP en 2017-->
	
	<xs:simpleType name="ChaineVideType">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition des types Integer (NUMBER(x,0)) autorisés -->
	<xs:simpleType name="IntegerOuVideType">
		<xs:union memberTypes="xs:integer ChaineVideType"/>
	</xs:simpleType>
	
	<!-- Exemple sans VIDE
	<xs:simpleType name="Integer_1">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9" />
		</xs:restriction>
	</xs:simpleType> -->
	
	<xs:simpleType name="Integer_1_OuVideType">
		<xs:union memberTypes="ChaineVideType">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9" />
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	
	<xs:simpleType name="Integer_2_OuVideType">
		<xs:union memberTypes="ChaineVideType">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="99" />
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	
	<xs:simpleType name="Integer_3_OuVideType">
		<xs:union memberTypes="ChaineVideType">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="999" />
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	
	<xs:simpleType name="Integer_4_OuVideType">
		<xs:union memberTypes="ChaineVideType">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9999" />
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
    
     <xs:simpleType name="Integer_8_OuVideType">
        <xs:union memberTypes="ChaineVideType">
            <xs:simpleType>
                <xs:restriction base="xs:integer">
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="99999999" />
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    
	
	<!-- Definition des types Float (NUMBER(x,y)) autorisés -->
	<xs:simpleType name="FloatOuVideType">
		<xs:union memberTypes="xs:float ChaineVideType"/>
	</xs:simpleType>
	
	<xs:simpleType name="Float_4_1_OuVideType">
		<xs:union memberTypes="ChaineVideType">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="4"/>
					<xs:fractionDigits value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	
	<xs:simpleType name="Float_4_2_OuVideType">
		<xs:union memberTypes="ChaineVideType">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="4"/>
					<xs:fractionDigits value="2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	
	<xs:simpleType name="Float_4_3_OuVideType">
		<xs:union memberTypes="ChaineVideType">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="4"/>
					<xs:fractionDigits value="3"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	
	
	<xs:simpleType name="Float_5_2_OuVideType">
		<xs:union memberTypes="ChaineVideType">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="5"/>
					<xs:fractionDigits value="2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	
		<xs:simpleType name="Float_6_2_OuVideType">
		<xs:union memberTypes="ChaineVideType">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="6"/>
					<xs:fractionDigits value="2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	
	
	<xs:simpleType name="Float_5_4_OuVideType">
		<xs:union memberTypes="ChaineVideType">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="5"/>
					<xs:fractionDigits value="4"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	
	
	
	<xs:simpleType name="Float_6_5_OuVideType">
		<xs:union memberTypes="ChaineVideType">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="6"/>
					<xs:fractionDigits value="5"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	
	<xs:simpleType name="Float_6_4_OuVideType">
        <xs:union memberTypes="ChaineVideType">
            <xs:simpleType>
                <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="6"/>
                    <xs:fractionDigits value="4"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
	
	
	<!-- Definition des types String autorisés -->
	<xs:simpleType name="String_1_OuVideType">
		<xs:union memberTypes="ChaineVideType">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	
	<xs:simpleType name="String_10_OuVideType">
		<xs:union memberTypes="ChaineVideType">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="10"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	
	<xs:simpleType name="String_12_OuVideType">
		<xs:union memberTypes="ChaineVideType">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="12"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	
	<xs:simpleType name="String_17_OuVideType">
		<xs:union memberTypes="ChaineVideType">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="17"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	
	<xs:simpleType name="String_2_OuVideType">
		<xs:union memberTypes="ChaineVideType">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	
	<xs:simpleType name="String_21_OuVideType">
		<xs:union memberTypes="ChaineVideType">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="21"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	
	<xs:simpleType name="String_24_OuVideType">
		<xs:union memberTypes="ChaineVideType">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="24"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	
	<xs:simpleType name="String_30_OuVideType">
		<xs:union memberTypes="ChaineVideType">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="30"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	
	<xs:simpleType name="String_40_OuVideType">
		<xs:union memberTypes="ChaineVideType">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	
	<xs:simpleType name="String_50_OuVideType">
		<xs:union memberTypes="ChaineVideType">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	
	<xs:simpleType name="String_6_OuVideType">
		<xs:union memberTypes="ChaineVideType">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	
	<xs:simpleType name="String_9_OuVideType">
		<xs:union memberTypes="ChaineVideType">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	
	<!-- Définition de la date Carter, qui n'est pas une date XML, mais doit respecter le pattern suivant : dd/mm/yyyy -->
	<xs:simpleType name="DateCarterOuVideType">

		<xs:union memberTypes="ChaineVideType">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="([012][0-9]|3[01])/(0[1-9]|1[012])/((19|20)\d\d)"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>


	<xs:complexType name="DossierCocType">
		<xs:annotation>
			<xs:documentation>
				1. Chaque donnée peut apparaître au max une fois, dans un ordre quelconque, et peut aussi ne pas être présente (à l'exception du Vin, Tvv et NumRecpt). 
				2. Par défaut xdb:SQLName est celui de l'élément, il n'est à précisé qu'au besoin.
				3. Par défaut xdb:SQLType est VARCHAR2 pour tous ceux dont le type n'est pas IdtVcDonneeTechniqueType. 
				4. VARCHAR2 est nécessaire pour tous les éléments dont on autorise la valeur vide.
				5. On ne précise pas le type des données de catégorie 3 car on ne veut aucune contrainte sur celles-ci.
			</xs:documentation>
		</xs:annotation>

		<xs:all>
			<xs:element name="TypVeh" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="Sign" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="AnneePetitesSeries" minOccurs="0" />
			<xs:element name="PetitesSeries" minOccurs="0" />
			<xs:element name="MrqVeh" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="Typ" type="String_6_OuVideType" minOccurs="0" />
			<xs:element name="Var" type="String_6_OuVideType" minOccurs="0" />
			<xs:element name="Version" minOccurs="0"/>
			<xs:element name="Tvv" type="String_40_OuVideType" minOccurs="1" />
			<xs:element name="LibMod" type="String_30_OuVideType" minOccurs="0" />
			<xs:element name="Categ" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="CnstrVeh" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="CnstrAdr" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="EmpltPlqCnstr1" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="MethFix" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="CodEmpltPlqFroi1" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="MandVeh" minOccurs="0" />
			<xs:element name="MandAdr" minOccurs="0" />
			<xs:element name="Vin" type="String_17_OuVideType" minOccurs="1" />
			<xs:element name="ComplVeh" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="NumRecpt" type="String_21_OuVideType" minOccurs="1" />
			<xs:element name="DateRecpt" type="String_10_OuVideType" minOccurs="0" />
			<xs:element name="CoteCndt" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="Unit" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="NbEssi" type="Integer_1_OuVideType" minOccurs="0" />
			<xs:element name="NbRoue" type="Integer_1_OuVideType" minOccurs="0" />
			<xs:element name="NbEssiJum" type="Integer_1_OuVideType" minOccurs="0" />
			<xs:element name="EmpltEssiJum" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="NbEssiDirec" type="Integer_1_OuVideType" minOccurs="0" />
			<xs:element name="EmpltEssiDirec" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="NbEssiMotr" type="Integer_1_OuVideType" minOccurs="0" />
			<xs:element name="EmpltEssiMotrPerm" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="CraboEssi" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="EmpatAffine" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="Dist12Affine" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="LongAffine" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="LongTotAdm" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="LargAffine" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="LargMaxAdm" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="HautAffine" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="HautMaxAdm" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="AvancSellAtt" minOccurs="0" />
			<xs:element name="DistancSellAtt" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="LongCharg" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="PafAr" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="PafArMaxAdm" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="MasseOrdmaMin" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="MasseOrdmaAffine" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="MasseOrdmaEssi1Min" type="Integer_4_OuVideType" minOccurs="0"/>
			<xs:element name="MasseOrdmaEssi1Affine" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="MasseOrdmaEssi2Min" type="Integer_4_OuVideType" minOccurs="0"/>
			<xs:element name="MasseOrdmaEssi2Affine" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="MasseOrdmaIncompMin" type="Integer_4_OuVideType" minOccurs="0" />
            <xs:element name="MasseOrdmaIncompMinEssi1" type="Integer_4_OuVideType" minOccurs="0" />
            <xs:element name="MasseOrdmaIncompMinEssi2" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="MasseOrdmaIncompAffine" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="MasseOrdmaIncompAffineEssi1" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="MasseOrdmaIncompAffineEssi2" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="MasseVehCompMin" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="MasseVehCompMinEssi1" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="MasseVehCompMinEssi2" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="MasseCharg" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="MasseTechEssi1" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="MasseTechEssi2" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="MasseGrp1" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="MasseGrp2" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="MasseCombi" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="ServImmat" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="NatInternat" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="MasseChargMaxServImmat" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="MasseChargServImmatEssi1" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="MasseChargServImmatEssi2" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="MasseChargServImmatGrp1" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="MasseChargServImmatGrp2" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="MasseChargServImmatCombi" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="MasseRmorqTimon" minOccurs="0" />
			<xs:element name="MasseRmorqSemi" minOccurs="0" />
			<xs:element name="MasseRmorqEssiCentr" minOccurs="0" />
			<xs:element name="MasseRmorqNonfr" minOccurs="0" />
			<xs:element name="MasseAttel" minOccurs="0" />
			<xs:element name="CnstrMotr" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="TypMotr" type="String_17_OuVideType" minOccurs="0" />
			<xs:element name="NbTemps" type="Integer_1_OuVideType" minOccurs="0" />
			<xs:element name="PrincFonct" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="Elec" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="VehHybr" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<!-- Une des balise ajoutée en version 2.2. Type modifié en 2.3, de type="String_9_OuVideType" à IdtVcDonneeTechniqueType -->
			<xs:element name="VehHybrClass" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<!-- Fin d'une des balise ajoutée en 2.2. Type modifié en 2.3-->
			<xs:element name="NbCylin" type="Integer_2_OuVideType" minOccurs="0" />
			<xs:element name="DispoCylin" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="Cycm3" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="CodCbr1" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="CodCbr2" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="CodCbrGaz" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="TypCbr" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="PuissMax" type="Float_4_1_OuVideType" minOccurs="0" />
			<xs:element name="RegimPuissMax" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="PuissMaxGaz" type="Float_4_1_OuVideType" minOccurs="0" />
			<xs:element name="RegimPuissMaxGaz" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="PuissHeure" type="Float_4_1_OuVideType" minOccurs="0" />
			<xs:element name="PuissMaxiElecNette" type="Float_4_1_OuVideType" minOccurs="0" />
			<xs:element name="PuissMaxiElec30" type="Float_4_1_OuVideType" minOccurs="0" />
			<xs:element name="TypBoite" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="VitMax" type="Integer_3_OuVideType" minOccurs="0" />
			<xs:element name="VoieAffineEssi1" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="VoieAffineEssi2" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="EssieuRetract" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="EssieuCharg" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="SuspPneu" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="FrRem" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="PressFrRem" minOccurs="0" />
			<xs:element name="TypCarroDoss" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="ClasseVeh" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="Couleur" minOccurs="0" />
			<xs:element name="ConfgPorteAffine" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="NbPlaceAffine" type="Integer_2_OuVideType" minOccurs="0" />
			<xs:element name="NbPlaceArr" minOccurs="0" />
			<xs:element name="NbPlaceFautRoul" type="Integer_2_OuVideType" minOccurs="0" />
			<xs:element name="NbPlaceDebout" minOccurs="0" />
			<xs:element name="MarqDispoAttel" minOccurs="0" />
            <!-- A noter qu'en version 2.4 la longueur max de TypDispoAttel est modifiée (passe de 20 à 40 caractères) -->
			<xs:element name="TypDispoAttel" minOccurs="0" />
			<xs:element name="ValCaracD" minOccurs="0" />
			<xs:element name="ValCaracV" minOccurs="0" />
			<xs:element name="ValCaracS" minOccurs="0" />
			<xs:element name="ValCaracU" minOccurs="0" />
			<xs:element name="NivSonorArretMin" type="Float_4_1_OuVideType" minOccurs="0" />
			<xs:element name="RegimNivSonor" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="NivSonorMvt" type="Float_4_1_OuVideType" minOccurs="0" />
			<xs:element name="NivPollu" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<!-- CaracDispoNivPollu modifiée en 2.2: type changé de String_1_OuVideType à String_6_OuVideType -->
			<xs:element name="CaracDispoNivPollu" type="String_6_OuVideType" minOccurs="0" />
			<xs:element name="DirPolluCompl" minOccurs="0" />
			<xs:element name="ProcEssIESC" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="CoTypICarb1" type="Float_6_2_OuVideType" minOccurs="0" />
			<xs:element name="HcTypICarb1" type="Float_5_2_OuVideType" minOccurs="0" />
			<xs:element name="NoxTypICarb1" type="Float_5_2_OuVideType" minOccurs="0" />
			<xs:element name="HcnoxTypICarb1" type="Float_5_2_OuVideType" minOccurs="0" />
			<xs:element name="PtclTypICarb1" type="Float_5_2_OuVideType" minOccurs="0" />
			<xs:element name="CoTypICarb2Gaz" type="Float_6_2_OuVideType" minOccurs="0" />
			<xs:element name="HcTypICarb2Gaz" type="Float_5_2_OuVideType" minOccurs="0" />
			<xs:element name="NoxTypICarb2Gaz" type="Float_5_2_OuVideType" minOccurs="0" />
			<xs:element name="HcnoxTypICarb2Gaz" type="Float_5_2_OuVideType" minOccurs="0" />
			<xs:element name="PtclTypICarb2Gaz" type="Float_5_2_OuVideType" minOccurs="0" />
			<xs:element name="CoEsc" type="Float_5_4_OuVideType" minOccurs="0" />
			<xs:element name="ThcEsc" type="Float_5_4_OuVideType" minOccurs="0" />
			<xs:element name="NoxEsc" type="Float_5_4_OuVideType" minOccurs="0" />
			<xs:element name="PtclEsc" type="Float_5_4_OuVideType" minOccurs="0" />
			<xs:element name="OpacFumCarb1" type="Float_4_3_OuVideType" minOccurs="0" />
			<xs:element name="ProcEssE5" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="CoTypIE5Carb1" type="Float_5_2_OuVideType" minOccurs="0" />
			<xs:element name="ThcTypIE5Carb1" type="Float_5_2_OuVideType" minOccurs="0" />
			<xs:element name="NmhcTypIE5Carb1" type="Float_5_2_OuVideType" minOccurs="0" />
			<xs:element name="NoxTypIE5Carb1" type="Float_5_2_OuVideType" minOccurs="0" />
			<xs:element name="ThcnoxTypIE5Carb1" type="Float_5_2_OuVideType" minOccurs="0" />
			<xs:element name="PtclTypIE5MasseCarb1" type="Float_5_2_OuVideType" minOccurs="0" />
			<xs:element name="PtclTypIE5NbCarb1" type="Float_6_4_OuVideType" minOccurs="0" />
			<xs:element name="PtclExposantCarb1" type="Integer_2_OuVideType" minOccurs="0" />
			<xs:element name="CoTypIE5Carb2Gaz" type="Float_5_2_OuVideType" minOccurs="0" />
			<xs:element name="ThcTypIE5Carb2Gaz" type="Float_5_2_OuVideType" minOccurs="0" />
			<xs:element name="NmhcTypIE5Carb2Gaz" type="Float_5_2_OuVideType" minOccurs="0" />
			<xs:element name="NoxTypIE5Carb2Gaz" type="Float_5_2_OuVideType" minOccurs="0" />
			<xs:element name="ThcnoxTypIE5Carb2Gaz" type="Float_5_2_OuVideType" minOccurs="0" />
			<xs:element name="PtclTypIE5MasseCarb2Gaz" type="Float_5_2_OuVideType" minOccurs="0" />
			<xs:element name="PtclTypIE5NbCarb2Gaz" type="Float_6_4_OuVideType" minOccurs="0" />
			<xs:element name="PtclExposantCarb2Gaz" type="Integer_2_OuVideType" minOccurs="0" />
			<xs:element name="CoEtc" type="Float_5_4_OuVideType" minOccurs="0" />
			<xs:element name="NoxEtc" type="Float_5_4_OuVideType" minOccurs="0" />
			<xs:element name="NmhcEtc" type="Float_5_4_OuVideType" minOccurs="0" />
			<xs:element name="ThcEtc" type="Float_5_4_OuVideType" minOccurs="0" />
			<xs:element name="Ch4Etc" type="Float_5_4_OuVideType" minOccurs="0" />
			<xs:element name="PtclEtc" type="Float_6_5_OuVideType" minOccurs="0" />
			<xs:element name="CoeffAbsor" type="Float_4_3_OuVideType" minOccurs="0" />
			<xs:element name="Co2UrbCarb1" type="Float_4_1_OuVideType" minOccurs="0" />
			<xs:element name="ConsoUrbCarb1" type="Float_4_2_OuVideType" minOccurs="0" />
			<xs:element name="Co2ExurbCarb1" type="Float_4_1_OuVideType" minOccurs="0" />
			<xs:element name="ConsoExurbCarb1" type="Float_4_2_OuVideType" minOccurs="0" />
			<xs:element name="Co2MixteCarb1" type="Float_4_1_OuVideType" minOccurs="0" />
			<xs:element name="ConsoMixteCarb1" type="Float_4_2_OuVideType" minOccurs="0" />
			<xs:element name="Co2PondCarb1" type="Float_4_1_OuVideType" minOccurs="0" />
			<xs:element name="ConsoPondCarb1" type="Float_4_2_OuVideType" minOccurs="0" />
			<xs:element name="Co2UrbCarb2" type="Float_4_1_OuVideType" minOccurs="0" />
			<xs:element name="ConsoUrbCarb2" type="Float_4_2_OuVideType" minOccurs="0" />
			<xs:element name="Co2ExurbCarb2" type="Float_4_1_OuVideType" minOccurs="0" />
			<xs:element name="ConsoExurbCarb2" type="Float_4_2_OuVideType" minOccurs="0" />
			<xs:element name="Co2MixteCarb2" type="Float_4_1_OuVideType" minOccurs="0" />
			<xs:element name="ConsoMixteCarb2" type="Float_4_2_OuVideType" minOccurs="0" />
			<xs:element name="Co2PondCarb2" type="Float_4_1_OuVideType" minOccurs="0" />
			<xs:element name="ConsoPondCarb2" type="Float_4_2_OuVideType" minOccurs="0" />
			<xs:element name="Co2UrbGaz" type="Float_4_1_OuVideType" minOccurs="0" />
			<xs:element name="ConsoUrbGaz" type="Float_4_2_OuVideType" minOccurs="0" />
			<xs:element name="Co2ExurbGaz" type="Float_4_1_OuVideType" minOccurs="0" />
			<xs:element name="ConsoExurbGaz" type="Float_4_2_OuVideType" minOccurs="0" />
			<xs:element name="Co2MixteGaz" type="Float_4_1_OuVideType" minOccurs="0" />
			<xs:element name="ConsoMixteGaz" type="Float_4_2_OuVideType" minOccurs="0" />
			<xs:element name="Co2PondGaz" type="Float_4_1_OuVideType" minOccurs="0" />
			<xs:element name="ConsoPondGaz" type="Float_4_2_OuVideType" minOccurs="0" />
			<xs:element name="CondConsoElec" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="ConsoElec" type="Float_4_1_OuVideType" minOccurs="0" />
			<xs:element name="AutonomieElec" type="Integer_4_OuVideType" minOccurs="0" />
			<xs:element name="PresEcoInnov" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="CodEcoInnov" type="String_50_OuVideType" minOccurs="0" />
			<xs:element name="RedCo2Carb1" type="Float_4_2_OuVideType" minOccurs="0" />
			<xs:element name="RedCo2Carb2" type="Float_4_2_OuVideType" minOccurs="0" />
			<xs:element name="RedCo2Gaz" type="Float_4_2_OuVideType" minOccurs="0" />
			<xs:element name="MatDange" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="Classe" minOccurs="0" />
			<xs:element name="VehicSpec" type="String_2_OuVideType" minOccurs="0" />
			<xs:element name="Pneu1Ess1" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="Pneu2Ess1" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="Pneu3Ess1" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="Pneu4Ess1" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="Pneu5Ess1" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="Pneu6Ess1" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="Roue1Ess1" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="Roue2Ess1" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="Roue3Ess1" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="Roue4Ess1" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="Roue5Ess1" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="Roue6Ess1" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="Pneu1Ess2" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="Pneu2Ess2" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="Pneu3Ess2" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="Pneu4Ess2" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="Pneu5Ess2" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="Pneu6Ess2" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="Roue1Ess2" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="Roue2Ess2" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="Roue3Ess2" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="Roue4Ess2" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="Roue5Ess2" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="Roue6Ess2" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="PneuHivers1Ess1" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="PneuHivers2Ess1" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="RoueHivers1Ess1" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="RoueHivers2Ess1" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="PneuHivers1Ess2" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="PneuHivers2Ess2" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="RoueHivers1Ess2" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="RoueHivers2Ess2" type="String_24_OuVideType" minOccurs="0" />
			<xs:element name="Remarque" type="IdtVcDonneeTechniqueType" minOccurs="0" />
			<xs:element name="Remarque2" minOccurs="0" />
			<xs:element name="Remarque3" minOccurs="0" />
			<xs:element name="VolReservoir" type="String_9_OuVideType" minOccurs="0" />
			<xs:element name="DirFreinage" minOccurs="0" />
			<xs:element name="DirNivSonore" minOccurs="0" />
			<xs:element name="DirFumee" minOccurs="0" />
			<xs:element name="ChargeMaxiToit" minOccurs="0" />
			<xs:element name="NbRapports" type="Integer_2_OuVideType" minOccurs="0" />
			<xs:element name="NrePere" minOccurs="0" />
			<xs:element name="TvvPere" minOccurs="0" />
			<xs:element name="TypPere" minOccurs="0" />
			<xs:element name="VarPere" minOccurs="0" />
			<xs:element name="VersionPere" minOccurs="0" />
			<xs:element name="CnstrVehPere" minOccurs="0" />
			<xs:element name="CnstrAdrPere" minOccurs="0" />			
			<xs:element name="DateEmon" type="String_10_OuVideType" minOccurs="0" />
			<xs:element name="PuissFiscFr" minOccurs="0"/>
			<xs:element name="CarrossFr" type="IdtVcDonneeTechniqueType" minOccurs="0"/>
                    
            
           
            <!-- V2 2017 Nouvelles Balises projet WLTP -->
            <xs:element name="NumJeuDonnees" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="NumJeuDonneesPere" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="NumMaj" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="DateMaj" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="TypBiCarb" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="CoTypIE5Carb2GazB" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="ThcTypIE5Carb2GazB" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="NmhcTypIE5Carb2GazB" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="NoxTypIE5Carb2GazB" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="CompRDETripNox" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="CompRDEPartic" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="UrbRDETripNox" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="UrbRDEPartic" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="DevFactor" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="VerificationFactor" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="RedCo2WLTPCarb1" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="RedCo2WLTPCarb2" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="RedCo2WLTPGaz" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="FamWLTP" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="CodRetourCalculWLTP" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WMasseReel" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WClasseCRR" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WTest_Mass" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WFrontalArea" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WF0" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WF1" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WF2" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WCondLow1" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WCondLow2" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WCondMed1" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WCondMed2" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WCondHigh1" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WCondHigh2" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WCondExtra1" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WCondExtra2" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WCondMixte1" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WCondMixte2" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WCondHybride1" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WCondHybride2" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WCondHybrideMed1" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WCondHybrideMed2" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WCondHybrideHigh1" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WCondHybrideHigh2" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WCondHybrideExtraHigh1" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WCondHybrideExtraHigh2" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WCondHybrideMixte1" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WCondHybrideMixte2" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WPondCondMixte1" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WPondCondMixte2" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WInj2CondLow1" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WInj2CondLow2" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WInj2CondMed1" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WInj2CondMed2" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WInj2CondHigh1" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WInj2CondHigh2" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WInj2CondExtraHigh1" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WInj2CondExtraHigh2" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <!--V2.6 Modification du type de WInj2CondMixte1-->
            <xs:element name="WInj2CondMixte1" type="Integer_8_OuVideType" minOccurs="0"/>
            <xs:element name="WInj2CondMixte2" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WGazCondLow1" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WGazCondLow2" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WGazCondMed1" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WGazCondMed2" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WGazCondHigh1" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WGazCondHigh2" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WGazCondExtraHigh1" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WGazCondExtraHigh2" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WGazCondMixte1" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WGazCondMixte2" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WElecEnergyConso1" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WElecEnergyConso2" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WElecRange1" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WElecRange2" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WElecRangeCity1" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WElecRangeCity2" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <!-- V2 2017 Fin Nouvelles Balises projet WLTP -->
            <!-- V2.1 2017 Nouvelles Balises projet WLTP -->
            <xs:element name="WTyreCategory" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
					<!-- V2.3 WTyreEnergyClass: Type modifié de type="DefautValeurDonneeTechniqueType" à type="IdtVcDonneeTechniqueType"-->
            <xs:element name="WTyreEnergyClass" type="IdtVcDonneeTechniqueType" minOccurs="0"/>
					<!-- V2.3 2017 Fin de modif pour WTyreEnergyClass -->
            <!-- Une nouvelle balise ajoutées en 2.4 -->
            <xs:element name="WFamInterpol" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <!-- Fin de la nouvelle balise ajoutée en 2.4 -->
                    <!-- V2.1 2017 Fin Nouvelles Balises projet WLTP -->
            <!-- 8 nouvelles balises ajoutées en 2.5 -->
            <xs:element name="CodeEmissionCategory" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="FuelCodePowerSource" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="NumberRegistrationCertifPart2" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="RemarksExceptions" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="CodeOfManufacturer" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="CodeOfType" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="CodeOfVariantVersion" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="CheckDigitCodeOfVariantVersion" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <!-- Fin des 8 nouvelles balises ajoutées en 2.5 -->
            <!-- Nouvelles balises COC 2019 -->
            <xs:element name="familleWLTPoffi" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="FittedTyreFront" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="FittedTyreRear" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="FittedRimSizeIncludingOffSetFront" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="FittedRimSizeIncludingOffSetRear" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WTyreRRCFront" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WTyreRRCRear" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="DownscalingFactor" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="CappedSpeed" type="IdtVcDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="ATFamId" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="PEFamId" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="RLFamId" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="RMFamId" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="PRFamId" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="EVFamId" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="R1gear" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="R2gear" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="R3gear" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="R4gear" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="R5gear" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="R6gear" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="R7gear" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="R8gear" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="R9gear" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="FinalDrive" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="FDR1gear" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="FDR2gear" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="FDR3gear" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="FDR4gear" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="FDR5gear" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="FDR6gear" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="FDR7gear" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="FDR8gear" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="FDR9gear" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="DrivingCycleClass" type="IdtVcDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WEaerHybEnergyConso" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WEaerHybRange" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <xs:element name="WEaerHybRangeCity" type="DefautValeurDonneeTechniqueType" minOccurs="0"/>
            <!-- Fin des nouvelles balises COC 2019 -->
            
		</xs:all>
	</xs:complexType>

	<xs:element name="DossierCoc" type="DossierCocType"/>
</xs:schema>

